### Task1.a

In [1]:
import math
no_of_sample = 36
sample_mean = 108
population_mean = 100
population_sigma  = 15

z = (sample_mean - population_mean) / (population_sigma /math.sqrt(no_of_sample))
print("Z Score :",z)

Z Score : 3.2

### Task 1.b

In [2]:
#P1 = the proportion of Republican voters in the first state
#P2 = the proportion of Republican voters in the second state
#p1 = the proportion of Republican voters in the sample from the first state
#p2 = the proportion of Republican voters in the sample from the second state. 

#The number of voters sampled from the first state (n1) = 100
n1 = 100
#The number of voters sampled from the second state (n2) = 100.
n2 = 100

P1 = 0.52
#(1 - P1) = Q1
Q1 = 0.48
P2 = 0.47
#(1 - P2) = Q2
Q2 = 0.53


#The mean of the difference in sample proportions .i.e Expected Value E[p1 -p2] = P1 - P2 = mu
mu =  P1 - P2

#The standard deviation of the difference (std)
std = math.sqrt(((P1 * Q1 ) / n1) + ((P2 * Q2) /n2))
print("Mu : ",mu,"Std : ",std)

#This problem requires us to find the probability that p1 is less than p2. 
#This is equivalent to finding the probability that p1 - p2 < 0. 
x = 0
#To find this probability, we need to transform the random variable (p1 - p2) into a z-score. 
#That transformation appears below.
Z_p1_p2 = ( x - mu)/std

print("Z_score(p1,p2) : ",Z_p1_p2)

Mu :  0.050000000000000044 Std :  0.07061869440877536
Z_score(p1,p2) :  -0.7080278164104213

### Task 1.c

In [3]:
#The z score tells you how many standard deviations from the mean your score is
x = 1100 #
mu = 1026 # Population Mean
sd = 209 #population standard deviation
z = ( x - mu)/sd
print("Z Score : ",z)
#the above calculation shows that my score is 0.35 standard deviations above the mean
print("My Score is in the range {} - {}  with a  zscore {:.2f}".format(mu - sd,mu + sd,z))

Z Score :  0.35406698564593303
My Score is in the range 817 - 1235  with a  zscore 0.35

### Task 2.a

In [4]:
import numpy as np
import pandas as pd
import scipy.stats as stats

f_list = [60,54,46,41]
m_list = [40,44,53,57]
h = [40,60]
b = [44,54]
m = [53,46]
p = [57,41]
marks = m_list + f_list
print(marks)
sex =  ['Male','Male','Male','Male','Female','Female','Female','Female']
edu = ['High School', 'Bachelors', 'Masters', 'Ph.d.','High School', 'Bachelors', 'Masters', 'Ph.d.']
df_edu = pd.DataFrame({"Sex":sex,"Edu":edu,"Marks":marks})

#df_edu = df_edu[['Sex','High School', 'Bachelors', 'Masters', 'Ph.d.']]

#df_edu['Row_total'] = row_list
print(df_edu)
cross_tab = pd.crosstab([df_edu.Sex,df_edu.Marks],df_edu.Edu,margins=True)

[40, 44, 53, 57, 60, 54, 46, 41]
      Sex          Edu  Marks
0    Male  High School     40
1    Male    Bachelors     44
2    Male      Masters     53
3    Male        Ph.d.     57
4  Female  High School     60
5  Female    Bachelors     54
6  Female      Masters     46
7  Female        Ph.d.     41

In [5]:
df2 = pd.crosstab(df_edu.Sex, df_edu.Edu,df_edu.Marks, aggfunc="sum",margins=True)
df2

Edu     Bachelors  High School  Masters  Ph.d.  All
Sex
Female         54           60       46     41  201
Male           44           40       53     57  194
All            98          100       99     98  395

In [6]:
df2.columns = ["Bachelors","High School","Masters","Ph.d.","row_totals"]

df2.index = ["Female","Male","col_totals"]

In [7]:
df2

            Bachelors  High School  Masters  Ph.d.  row_totals
Female             54           60       46     41         201
Male               44           40       53     57         194
col_totals         98          100       99     98         395

In [8]:
observed = df2.iloc[0:2,0:4]   # Get table without totals for later use
observed

        Bachelors  High School  Masters  Ph.d.
Female         54           60       46     41
Male           44           40       53     57

In [9]:
expected =  np.outer(df2["row_totals"][0:2],
                     df2.loc["col_totals"][0:4]) / 395.0
expected = pd.DataFrame(expected)
expected.columns = ["Bachelors","High School","Masters","Ph.d."]
expected.index = ["Female","Male"]
expected

        Bachelors  High School    Masters      Ph.d.
Female  49.868354    50.886076  50.377215  49.868354
Male    48.131646    49.113924  48.622785  48.131646

In [10]:
chi_squared_stat = (((observed-expected)**2)/expected).sum().sum()

print(chi_squared_stat)

8.006066246262538

In [11]:
crit = stats.chi2.ppf(q = 0.95, # Find the critical value for 95% confidence*
                      df = 3)   # *

print("Critical value")
print(crit)

p_value = 1 - stats.chi2.cdf(x=chi_squared_stat,  # Find the p-value
                             df=3)
print("P value")
print(p_value)

Critical value
7.814727903251179
P value
0.04588650089174717

In [12]:
stats.chi2_contingency(observed= observed)

(8.006066246262538,
 0.045886500891747214,
 3,
 array([[49.86835443, 50.88607595, 50.37721519, 49.86835443],
        [48.13164557, 49.11392405, 48.62278481, 48.13164557]]))

In [13]:
import scipy.stats as stats
Group1 = [51, 45, 33, 45, 67]
Group2 = [23, 43, 23, 43, 45]
Group3 = [56, 76, 74, 87, 56]
# Perform the ANOVA
statistic, pvalue = stats.f_oneway(Group1,Group2,Group3)
print("F Statistic value {} , p-value {}".format(statistic,pvalue))
if pvalue < 0.05:
    print('True')
else:
    print('False')

F Statistic value 9.747205503009463 , p-value 0.0030597541434430556
True

In [14]:
stats.f_oneway([10, 20, 30, 40, 50],[5,10,15, 20, 25])

F_onewayResult(statistic=3.6, pvalue=0.0943497728424377)

In [15]:
Group1 = [10, 20, 30, 40, 50]
Group2 = [5,10,15, 20, 25]

mean_1 = np.mean(Group1)
mean_2 = np.mean(Group2)

grp1_sub_mean1 = []
grp2_sub_mean2 = []
add1 = 0
add2 = 0
for items in Group1:
    add1 += (items - mean_1)**2
for items in Group2:
    add2 += (items - mean_2)**2
var1 = add1/(len(Group1)-1)
var2 = add2/(len(Group2)-1)

F_Test = var1/var2
print("F Test for given 10, 20, 30, 40, 50 and 5,10,15, 20, 25 is : ",F_Test)

F Test for given 10, 20, 30, 40, 50 and 5,10,15, 20, 25 is :  4.0